extends layout

block content
  h1= title

  ul
    - 
      book_list.sort((a, b) => { 
        //- console.log(a.title, b.title);
        return (a.title.toUpperCase() <= b.title.toUpperCase()? -1 : 1); 
      });

    each book in book_list
      li 
        a(href=book,url) #{book.title}
        |  (#{book.author_name})

    else
      li There are no books.
